/* VARIABLES */
$color-principal: rgb(241, 101, 0);
$color-secundario: rgb(168, 73, 5);
$color-palabra: blueviolet;

$colores:(
    rojo: #db143c,
    verde: #91ff00,
    amarillo: #ffc400,
    rosado: #f577b4,
    naranja: #ff8800ef,
    marron: #863804,
    azul: #0064fa,
    celeste: #64d2ee,
    negro: #000000,

);
